@utility app-footer {
  @apply w-full;
  border-top: 1px solid var(--color-gray-20);
}

@utility app-footer-social-link {
  transition: color 0.2s;

  &:hover {
    color: var(--color-gray-100);
  }
}
