@theme {
  --font-primary: "Manrope", sans-serif;

  --text-h1: 26px;
  --text-h1--line-height: 1.2;
  --text-h1--font-weight: 800;
  --text-h1--letter-spacing: 0em;

  --text-h2: 22px;
  --text-h2--line-height: 1.2;
  --text-h2--font-weight: 700;
  --text-h2--letter-spacing: 0em;

  --text-h3: 18px;
  --text-h3--line-height: 1.2;
  --text-h3--font-weight: 600;
  --text-h3--letter-spacing: 0em;

  --text-btn: 16px;
  --text-btn--line-height: 1;
  --text-btn--font-weight: 600;
  --text-btn--letter-spacing: 0em;

  --text-btn-small: 14px;
  --text-btn-small--line-height: 1.2;
  --text-btn-small--font-weight: 600;
  --text-btn-small--letter-spacing: 0em;

  --text-main: 16px;
  --text-main--line-height: 1.5;
  --text-main--font-weight: 600;
  --text-main--letter-spacing: 0em;

  --text-secondary: 14px;
  --text-secondary--line-height: 1.5;
  --text-secondary--font-weight: 500;
  --text-secondary--letter-spacing: 0em;

  --text-small: 14px;
  --text-small--line-height: 1.3;
  --text-small--font-weight: 400;
  --text-small--letter-spacing: 0em;

  /* colors */
  --color-primary: #ff682e;
  --color-additional: #fff4f0;

  --color-gray-100: #0d0d0e;
  --color-gray-80: #484952;
  --color-gray-60: #a7abb3;
  --color-gray-30: #d8d9e1;
  --color-gray-20: #eff0f3;
  --color-gray-10: #f6f7f9;
  --color-white: #ffffff;

  --color-size-bar: #ad6a0a;
  --color-activity-bar: #fcbd18;
  --color-care-bar: #14b46e;
  --color-children-bar: #5274e4;

  --color-error: #eb2435;
  --color-info: #4abde4;
  --color-warning: #f5da08;
  --color-success: #04c73c;

  --color-btn-hover: #ff5a1f;
  --color-btn-active: #e6501c;
  --color-btn-focus: #ffd2c2;

  /* buttons */
  --radius-btn: 100px;

  --shadow-card: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes paw-float {
  0% {
    transform: rotate(var(--rotate)) translateY(0px);
  }
  50% {
    transform: rotate(var(--rotate)) translateY(-16px);
  }
  100% {
    transform: rotate(var(--rotate)) translateY(0px);
  }
}
